---
import Layout from '../../layouts/Layout.astro';
// import { getCollection } from "astro:content";
// const guidesPosts = await getCollection("guides");
// astro.glob => getCollection is the difference between getting all files from a directory in pages vs. collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import functions from '../../js/functions.js';

const res = await fetch("https://pftraveldev.wpengine.com/wp-json/pot/v1/hotel-programs?per_page=100");
const posts = await res.json();

// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/pot/v1/points';
// const perPage = 51; // Number of posts per page
// let posts = [];
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }


// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/pot/v1/points';
// const perPage = 51; // Number of posts per page
// let posts = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }

// const combinedPosts = allPosts.concat(posts);


// function filterAndOrganize(response) {
//     // Filter titles that start with "The Complete Guide to"
//     let filteredTitles = response.filter(item => item.title.startsWith("The Complete Guide to"));

//     // Remove "The Complete Guide to" prefix from titles
//     filteredTitles = filteredTitles.map(item => {
//         item.title = item.title.replace("The Complete Guide to", "").trim();
//         return item;
//     });
//     // sort alphabetically
//     filteredTitles.sort((a, b) => {
//         // Convert both titles to lowercase to ensure case-insensitive comparison
//         let titleA = a.title.toLowerCase();
//         let titleB = b.title.toLowerCase();

//         // Compare titles
//         if (titleA < titleB) {
//             return -1;
//         }
//         if (titleA > titleB) {
//             return 1;
//         }
//         return 0; // titles are equal
//     });
// }

// filterAndOrganize(posts);

posts.forEach(item => {
    item.title = item.title.replace("The Complete Guide to ", "");
});

posts.sort((a, b) => {
    let titleA = a.title.toLowerCase();
    let titleB = b.title.toLowerCase();
    
    if (titleA < titleB) {
        return -1;
    }
    if (titleA > titleB) {
        return 1;
    }
    return 0; // titles are equal
});

---

<Layout title="Prince of Travel | Hotel Programs" description="Explore Prince of Travel's comprehensive guides to hotel loyalty programs including offerings, exclusive perks, and booking benefits." image="">
	<div class="container-fluid" style="background: ##fffbf8">
		<div class="row pt-5">
			<div class="col-lg-6 min-vh-50 d-flex flex-column justify-content-end align-items-start text-start p-5">
			  <h1 class="text-secondary fw-bold ls-1 lh-1" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">Hotel Programs</h1>
				 <!-- <p class="fs-4 mt-0">Below are the top credit cards in the Canadian marketplace for the purposes of earning points and maximizing rewards.</p> -->
				 <p class="fs-4 text-body-secondary mt-2 mb-0" data-aos="fade-up" data-aos-delay="600">Explore our comprehensive guides to hotel loyalty programs including offerings, exclusive perks, and booking benefits, and insider tips on how to maximize your stay's value with earning and redeeming points.</p>
		  </div>
		  <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center pt-5 px-0">
            <!-- ad concept, banner shows placement card? -->
            <!-- <img class="w-100 object-fit" style="height: 500px" src="" data-src="https://images.pexels.com/photos/459402/pexels-photo-459402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" /> -->
           <!-- Qatar - potential ad strategy -->
            <!-- <img class="w-100 object-fit" style="height: 500px" src="https://images.pexels.com/photos/674783/pexels-photo-674783.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" /> -->
            <!-- <img class="w-100 object-fit" style="height: 500px" src="" data-src="https://images.pexels.com/photos/163792/model-planes-airplanes-miniatur-wunderland-hamburg-163792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" /> -->
            <img class="w-100 object-fit" style="height: 500px;" src="" data-src="https://images.unsplash.com/photo-1498503182468-3b51cbb6cb24?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
          </div>
		</div>

		<div class="row p-4 g-3" style="background: #eee">
			{posts.map((item, index) => (
				<div class="col-lg-6">	
					<div class="card d-flex flex-column justify-content-center align-items-start mb-2 rounded-4 border-0" style="min-height: 240px;">
						<div class="row g-0 p-3">
							<div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 240px">
								<img src="" data-src={item.featured_image.large || item.data.imageUrl} class="w-100 h-100 object-fit rounded-4" style="aspect-ratio: 16/9; object-position: center" alt="">
							</div>
							<div class="col-md-8 my-auto">
                                <div class="card-body p-4">
                                    <h5 class="card-title fs-4 text-body-secondary fw-bold lh-1">
                                        <Fragment set:html={item.title} />
                                    </h5>
                                    <p class="card-text text-black-50">
                                        <Fragment set:html={item.content.slice(0, 130) + '...'} />
                                    </p>
                                    <a href={`/hotel-programs/${encodeURIComponent(item.slug)}/`}>
                                        <div class="pt-3">
                                            <button class="btn btn-secondary opacity-75 fw-bold rounded-pill px-4 position-absolute bottom-0 end-0 m-3">Learn more</button>
                                        </div>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
                 
				</div>
			))}
		</div>
	</div>
</Layout>