---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
// const allPosts = await Astro.glob('../../pages/blog/*.md');
const reviewsPosts = await getCollection("reviews");
import PostDetail from '../../components/VueComponents/PostDetail.vue';
// astro.glob => getCollection is the difference between getting all files from a directory in pages vs. collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import functions from '../../js/functions.js';

// const { index, slug } = Astro.props

// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?meta_key=category_name&meta_value=reviews&_embed';
// const perPage = 51; // Number of posts per page
// let posts = [];
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }

	const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?meta_key=category_name&meta_value=reviews&_embed';
	const perPage = 100; // Number of posts per page
	let posts = [];
	let currentPage = 1;
	const totalPostsToFetch = 567;
	let totalFetchedPosts = 0;

	// Calculate total pages needed to fetch all posts
	const totalPages = Math.ceil(totalPostsToFetch / perPage);

	while (currentPage <= totalPages) {
		const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
		const data = await response.json();

		if (data.length === 0) {
			console.log('No more posts, exiting loop');
			break; // No more posts, exit loop
		}

		posts = posts.concat(data);
		console.log('Data type of array:', typeof posts, 'Total posts =', posts.length);
		totalFetchedPosts += data.length; // Update total fetched posts based on the received data length
		currentPage++;
	}

function destructureArray(array) {
    const first3 = array.slice(0, 3);
    const second3 = array.slice(3, 6);
    const third3 = array.slice(6, 9);
    const fourth3 = array.slice(9, 12);
    const fifth3 = array.slice(12, 15);
    const sixth5 = array.slice(15, 19);
    const next16 = array.slice(19, 31);
    const restOfPosts = array.slice(31);

    return [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts];
}

const [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts] = destructureArray(posts);

// const combinedPosts = allPosts.concat(posts);

// let filteredPosts = allPosts.filter(post => post.data.draft === false)
// filteredPosts.sort((a, b) => b.data.pubDate - a.data.pubDate);
// const [firstArticle, ...allArticles] = filteredPosts;
const [firstArticle, ...allArticles] = reviewsPosts;

// bit-alaska post had a cross at the end of the url which threw a build error in netlify
function removeSpecialCharactersFromURL(url) {
    // Define a regular expression to match special characters
	const regex = /[^\w\s\-#]/gi;
    // Replace special characters with an empty string
    const cleanURL = url.replace(regex, '');
    return cleanURL;
}

---

<Layout title="Prince of Travel | Reviews" description="Prince of Travel's latest reviews spanning hotels, airports and airlines, credit cards, and more." image="">
	<div class="container-fluid" style="background: ##fffbf8">
		<div class="row pt-5 mt-5">
			<div class="col-md-6 p-5 d-flex flex-column justify-content-center align-items-start">
				<div class="m-3 py-5">
					<h1 class="display-1 fw-bold lh-1 ls-1 my-3">Reviews</h1>
					<p class="fs-5 mt-0 col-lg-10 text-black-50">Explore our in-depth Reviews, covering the world’s best airlines, hotels, airport lounges, credit cards, and more. Whether you're a seasoned jetsetter or planning your very first trip, our curated trip reports give you a deep sense of what you can expect upon setting off on your own journey.</p>
				</div>
			</div>
			{first3.map((item, index) => (
			<div class="col-md-6 p-4">
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data.imageUrl} class="w-100" style="object-fit: cover; height: 350px" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row min-vh-100">
			{second3.map((item, index) => (
				<div class="col-md-4 p-3">
					<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data.imageUrl} class="w-100" style="object-fit: cover; min-height: 350px;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
				</div>
			))}
		</div>

		<div class="row">	
			{third3.map((item, index) => (	
			<div class:list={[index === 0 ? "col-md-6" : "col-md-3", "p-4"]}>
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class:list={[index !== 0 ? "fs-3" : "", "text-body-secondary fw-bold lh-1 mb-3 mt-4"]}><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row">	
			{fourth3.map((item, index) => (	
			index === 0 ? 
		
			<div class="col-lg-6 p-4">
				<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
			</div>

			<div class="col-lg-6 p-5 d-flex flex-column justify-content-center align-items-start">
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
				<h1 class="text-body-secondary fw-bold text-balance lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
				<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
				<div class="py-2">
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
				</div>
				<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
				</a>
			</div>
			
			:
				
			<div class="col-lg-6 p-4">
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src={item._embedded['wp:featuredmedia'][0]?.source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row min-vh-100">
			{fifth3.map((item, index) => (
			<div class="col-lg-4 p-3">
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
				<div class="pb-3">
					<img src={item._embedded['wp:featuredmedia'][0]?.source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
					<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
					<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
					<!--<div class="py-2">
						<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
						<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
					</div>-->
					<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
				</div>
				</a>
			</div>
			))}
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<div class="row p-3">
					{sixth5.map((item, index) => (
					<div class="col-lg-12 p-4">
						<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
						<img src={item._embedded['wp:featuredmedia'][0]?.source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
						</a>
					</div>
					))}
				</div>
			</div>

			<div class="col-lg-6 p-5 order-1 order-lg-2">
				<div class="col-lg-12 py-5">
					<h1 class="display-2 fw-bold">More reviews</h1>
				</div>
				<div class="row g-5">
					{next16.map((item, index) => (
					<div class="col-lg-6">
						<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
						<img src={item._embedded['wp:featuredmedia'][0]?.source_url || item.data.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h4 class="text-body-secondary fw-bold"><Fragment set:html={item.title.rendered} /></h4>
						<p class="col-md-8 fs-5 text-body-secondary my-0"><Fragment set:html={functions.shorten(item.excerpt.rendered, 100) + '...'}/></p>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark rounded-pill px-4 mt-2">Read article</button>
						</a>
					</div>
					))}
				</div>
			</div>
		</div>

		<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-4">
			{restOfPosts.map((item) => (
			<div class="col p-3">
				<a href={`/reviews/${encodeURIComponent(item.slug)}/`}>
				<img src={item._embedded['wp:featuredmedia'][0]?.source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
				<h1 class="fs-3 text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
				<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
				<div class="py-2">
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
				</div>					
				<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
				</a>
			</div>
			))}	
		</div>
	</div>
</Layout>

<style>
    .scroll-div {
      overflow-y: scroll;
    }

.slow-scroll, .fast-scroll {
    /* width: 50%; Each div occupies 50% of the container width */
    height: 100vh;
    /* overflow: hidden; Hide scrollbar */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slow-scroll::-webkit-scrollbar, 
.fast-scroll::-webkit-scrollbar {
  display: none;
}
  </style>


<script>	

// left div scrolls slower than right div; when the end of the content is reached, content
// nelow the effect scrolls into visualViewport, the effect reverses on scrolling up so the
// content out of viewport has to scroll all the way out of viewport before differential scroll begins.

// document.addEventListener("DOMContentLoaded", function() {
//   if (window.innerWidth > 768) {
//     var slowScrollDiv = document.querySelector(".slow-scroll");
//     var fastScrollDiv = document.querySelector(".fast-scroll");
//     var contentBelow = document.querySelector(".content-below");

//     var slowScrollFinished = false;
//     var fastScrollFinished = false;
//     var scrollingUp = false;

//     slowScrollDiv.addEventListener('scroll', function() {
//       // Sync div2 scroll position with div1
//       fastScrollDiv.scrollTop = slowScrollDiv.scrollTop * 0.5; // Adjust scroll speed as needed

//       // Check if slow scroll div has reached the bottom
//       if (slowScrollDiv.scrollHeight - slowScrollDiv.scrollTop === slowScrollDiv.clientHeight) {
//         slowScrollFinished = true;
//         checkScrollFinished();
//       }
//     });

//     // Add scroll event listener to div2
//     fastScrollDiv.addEventListener('scroll', function() {
//       // Sync div1 scroll position with div2
//       slowScrollDiv.scrollTop = fastScrollDiv.scrollTop * 2; // Adjust scroll speed as needed

//       // Check if fast scroll div has reached the bottom
//       if (fastScrollDiv.scrollHeight - fastScrollDiv.scrollTop === fastScrollDiv.clientHeight) {
//         fastScrollFinished = true;
//         checkScrollFinished();
//       }
//     });

//     function checkScrollFinished() {
//       // If both slow and fast scroll divs have finished scrolling, enable scrolling for content below
//       if (slowScrollFinished && fastScrollFinished) {
//         contentBelow.style.overflowY = 'auto';
//         contentBelow.addEventListener('scroll', function() {
//           // Your additional logic here for scrolling content below
//           if (scrollingUp && contentBelow.scrollTop === 0) {
//             // When scrolling back up and content is out of viewport, reset scrolling divs
//             contentBelow.style.overflowY = 'hidden';
//             scrollingUp = false;
//             restartScrollingDivs();
//           }
//         });
//       }
//     }

//     // Listen for scroll event on the content below to detect scrolling direction
//     contentBelow.addEventListener('scroll', function() {
//       if (contentBelow.scrollTop > 0) {
//         scrollingUp = true;
//       } else {
//         scrollingUp = false;
//       }
//     });

//     function restartScrollingDivs() {
//       // Wait for content below to scroll completely out of viewport
//       setTimeout(function() {
//         // Reset scrolling divs
//         slowScrollFinished = false;
//         fastScrollFinished = false;
//         // Restart the slow and fast scrolling divs
//         slowScrollDiv.scrollTop = 0;
//         fastScrollDiv.scrollTop = 0;
//       }, 300); // Adjust this delay as needed to ensure content is fully out of view
//     }
//   } else {
//     return;
//   }
// });

// document.addEventListener('DOMContentLoaded', function() {
//     let leftSide = document.getElementById('left-side');
//     let rightSide = document.getElementById('right-side');

//     window.addEventListener('scroll', function() {
//         // Calculate the scroll speed ratio
//         let scrollSpeedRatio = 0.5; // Adjust as needed
        
//         // Calculate the scroll position of the window
//         let scrollPosition = window.scrollY;

//         // Calculate the scroll position of each side
//         let leftScroll = scrollPosition * scrollSpeedRatio;
//         let rightScroll = scrollPosition;

//         // Apply the scroll position to each side
//         leftSide.style.transform = `translateY(${leftScroll}px)`;
//         rightSide.style.transform = `translateY(${rightScroll}px)`;
//     });
// });



</script>
 