---
// import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// import { Markdown } from '@astropub/md';
import functions from '../../js/functions.js';

// if there is no .md/collection content, do not use the combinedArray, will throw build errors
export const prerender = true;
export async function getStaticPaths() {
    // const creditCardsEntries = await getCollection('credit-cards');
    let data = await fetch("https://pftraveldev.wpengine.com/wp-json/pot/v1/best-credit-cards?per_page=100");
    let posts = await data.json();
    // const combinedArray = dealsEntries.concat(posts);

//   return combinedArray.map(post => ({
  return posts.map(post => ({
    params: { slug: post.slug }, 
    props: { post }
  }));
}

const { post } = Astro.props;

// const allPosts = await getCollection("guides");
// let filteredPosts = allPosts.filter(post => post.data.draft === false)
// const { Content } = await post.render();

// Remove space, add hyphens to titles, convert to lowerCase to be used for hyperlinks
function tableOfContents(str) {
    // Convert the string to lowercase
    let lowercaseStr = str.toLowerCase();
    // Replace spaces with hyphens
    let hyphenatedStr = lowercaseStr.replace(/ /g, '-');
    return hyphenatedStr;
}

// get read time
function wordCount(str) {
  const words = str.match(/(\w+)/g).length;
  const readMins = Math.trunc(words / 250);
  return readMins;
}

// share
// fb share btn
function fbShare() {
  const fbShare = "https://www.facebook.com/sharer/sharer.php?u=";
  const url = `https://princeoftravel.com${Astro.url.pathname}`;
  const shareButton = fbShare + url;
  return shareButton;
}

// twitter/X share btn
function tweetCurrentPage(title) {
  const twShare = "https://twitter.com/share?url=";
  const url = encodeURIComponent(`https://princeoftravel.com${Astro.url.pathname}`);
  const twShareButton = twShare + url + '&text=' + title;
  return twShareButton;
}

// email page
function emailPage(title) {
  const href = "mailto:?";
  const url = encodeURIComponent(Astro.url.pathname);
  const emailShare = href + 'subject=' +  title + '&body=' + 'Check out this great post I found from princeoftravel.com: ' + url;
  return emailShare;
}

functions.modifyApiResponse(post);
functions.removeCarriageReturn(post);
---

<Layout title="Prince of Travel | Best Credit Cards" description="" image="">
    <div class="container-fluid px-0 pt-3">
        <div class="row pb-3 pt-5">
            <div class="col-lg-8 min-vh-500 d-flex flex-column justify-content-center align-items-start text-start p-5">
                <a href="/best-credit-cards">
                    <div class="d-flex align-items-center" data-aos="fade-up">
                        <i class="bi bi-arrow-left text-black-50 fs-1"></i>
                        <h6 class="ms-2 my-0 text-black-50 fw-light">Back to Best Credit Cards</h6>
                    </div>
                </a>
    
                <h1 class="fw-bold text-body-secondary lh-1 ls-1 my-2" data-aos="fade-up" data-aos-delay="200" style="font-size: 10vmin;">
                    <Fragment set:html={post.title} />
                </h1>
                
                <div class="mt-4 text-body-secondary" data-aos="fade-up" data-aos-delay="600">
                    <p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Last updated:</span> {post.date.toString().slice(0,10) || post.data.pubDate.toString().slice(0,10)}</p>
                    <p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Read time</span> {wordCount(post.content || post.body)} mins</p>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center px-0">
                <img class="w-100 object-fit" style="height: 65vh" src="" data-src={post.featured_image?.large || post.data?.imageUrl} alt="" />
            </div>
        </div>
    </div>
    
    <!--body/sidebar-->
    <div class="container w-100 mx-auto">
        <div id="content" class="row p-4">
            <div class="content-body col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 px-4 py-5">
                <!-- <div><Fragment set:html={post.content} /></div> -->
                <p class="mb-0"><Fragment set:html={post.custom_fields.intro} /></p>

                <h2>{post.custom_fields.credit_cards_0_sub_category}</h2>
                <p class="my-0"><Fragment set:html={post.custom_fields.credit_cards_0_bcc_content} /></p>
                <h2>{post.custom_fields.credit_cards_1_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_1_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_2_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_2_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_3_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_3_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_4_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_4_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_5_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_5_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_6_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_6_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_7_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_7_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_8_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_8_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_9_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_9_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_10_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_10_bcc_content} /></div>
                <h2>{post.custom_fields.credit_cards_11_sub_category}</h2>
                <div><Fragment set:html={post.custom_fields.credit_cards_11_bcc_content} /></div>




                <!-- <div><Fragment set:html={functions.removeShortcodes(post.content)} /></div> -->
               <!-- {post.content?.rendered ?
                <Fragment id="postContent" set:html={post.content?.rendered} /> 
                :
                <Markdown of={post.body} />
                } -->
                <!-- share -->
                <div class="d-flex border-top py-3 mt-4">
                    <h6 class="ms-2 my-0 text-black-50 fw-bold">Share this post</h6>
                </div>
                <div id="post-social-share-nav" class="d-flex">
                <a href={fbShare()} target="_blank">
                    <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-facebook fs-5"></i>
                  </button>
                </a>
                <a href={tweetCurrentPage(post.title?.rendered || post.title)} target="_blank">
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-twitter-x fs-5"></i>
                  </button>
                </a>
                <a href={emailPage(post.title?.rendered || post.title)}>
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-envelope fs-5"></i>
                  </button>
                </a>
                <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;" type="button" id="liveToastBtn">
                    <i class="bi bi-link-45deg fs-5"></i>
                </button>
                <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
                    <div id="liveToast" class="toast text-bg-light border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
                        <div class="toast-body p-2 d-flex align-items-center text-secondary">
                            <i class="bi bi-check-circle-fill text-success fs-5"></i> <p class="ms-2 my-0">Copied to clipboard!</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            <!-- <div class="col-lg-12 d-block d-xl-none border-top p-4">
                <div class="py-2">
                <p><span class="fw-bold text-pc-dark">Prince Collection</span> is a non-traditional, full service travel concierge designed exclusively for companies and individuals who require exclusive travel arrangements. We handle the nuances of travel ensuring a seamless and extraordinary journey from start to finish.</p>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-pc-dark">Newsletter</h4>
                    <p>Join the Prince Collection newsletter to get weekly updates delivered straight to your inbox.</p>
                    <div class="klaviyo-form-UGQNyX"></div>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-pc-dark">Book your travel</h4>
                    <p>Let Prince Collection’s Travel Concierge handle your exclusive travel arrangements. Get started by filling out some basic info about your trip.</p>
                    <a href="/book">
                        <button class="btn btn-pc">Book now</button>
                    </a>
                </div>
                <hr>
    
            </div> -->
        </div>
    </div>
</Layout>

<style scoped>

    #accel-snackbar {
        display: none;
    }
</style>

<script>
// var targetParagraph = document.querySelector('#content .content-body p:nth-of-type(3)');
// var dynamicContent = '<div id="custom-div" class="bg-primary text-light">Nostrud elit qui amet nisi nulla ea ullamco. Nulla aliqua aute et deserunt mollit et deserunt dolor duis Lorem nulla aliquip. Veniam sit voluptate velit quis dolor pariatur anim culpa reprehenderit irure qui sint. Veniam qui sunt proident velit incididunt tempor Lorem in sit laborum officia exercitation culpa dolor.</div>';
// targetParagraph.insertAdjacentHTML('afterend', dynamicContent);

    const toastTrigger = document.getElementById('liveToastBtn');
    const toastLiveExample = document.getElementById('liveToast');
        if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)
            toast.show();
            navigator.clipboard.writeText("https://princeoftravel.com" + window.location.pathname);
        })
    }
  </script>