---
import Layout from '../../layouts/Layout.astro';
// import { getCollection } from "astro:content";
// const insightsPosts = await getCollection("insights");
// import insights from '../../data/insights.json'
import functions from '../../js/functions.js';

// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?meta_key=category_name&meta_value=insights&_embed';
// const perPage = 51; // Number of posts per page
// let posts = [];
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }

const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?meta_key=category_name&meta_value=insights&_embed';
const perPage = 100; // Number of posts per page
let posts = [];
let currentPage = 1;
const totalPostsToFetch = 217;
let totalFetchedPosts = 0;

// Calculate total pages needed to fetch all posts
const totalPages = Math.ceil(totalPostsToFetch / perPage);

while (currentPage <= totalPages) {
    const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
    const data = await response.json();

    if (data.length === 0) {
        console.log('No more posts, exiting loop');
        break; // No more posts, exit loop
    }

    posts = posts.concat(data);
    console.log('Data type of array:', typeof posts, 'Total posts =', posts.length);
    totalFetchedPosts += data.length; // Update total fetched posts based on the received data length
    currentPage++;
}

function destructureArray(array) {
    const first3 = array.slice(0, 3);
    const second3 = array.slice(3, 6);
    const third3 = array.slice(6, 9);
    const fourth3 = array.slice(9, 12);
    const fifth3 = array.slice(12, 15);
    const sixth5 = array.slice(15, 19);
    const next16 = array.slice(19, 31);
    const restOfPosts = array.slice(31);

    return [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts];
}

const [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts] = destructureArray(posts);

// const combinedPosts = allPosts.concat(posts);

// let filteredPosts = allPosts.filter(post => post.data.draft === false)
// filteredPosts.sort((a, b) => b.data.pubDate - a.data.pubDate);
// const [firstArticle, ...allArticles] = filteredPosts;
// const [firstArticle, ...allArticles] = insightsPosts;

function removeSpecialCharactersFromURL(url) {
    // Define a regular expression to match special characters
	const regex = /[^\w\s\-#]/gi;
    // Replace special characters with an empty string
    const cleanURL = url.replace(regex, '');
    return cleanURL;
}
---

<Layout title="Prince of Travel | Insights" description="Prince of Travel's latest insights on everything from new hotel properties, to flights and airline insights, airports, credit cards, and more." image="">
	<div class="container-fluid" style="background: ##fffbf8">
		<div class="row pt-5 mt-5">
			<div class="col-md-6 p-5 d-flex flex-column justify-content-center align-items-start">
				<div class="m-3 py-5">
					<h1 class="display-1 fw-bold lh-1 ls-1 my-3">Insights</h1>
					<p class="fs-5 mt-0 col-lg-10 text-black-50">Welcome to Prince of Travel Insights, a section providing the latest perspectives on emerging travel trends, destination highlights, and insider tips to enrich your travel experiences.</p>
				</div>
			</div>
			{first3.map((item, index) => (
			<div class="col-md-6 p-4">
				<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover; height: 350px" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row min-vh-100">
			{second3.map((item, index) => (
			<div class="col-md-4 p-3">
				<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div>

		<div class="row">	
			{third3.map((item, index) => (	
			<div class:list={[index === 0 ? "col-md-6" : "col-md-3", "p-4"]}>
				<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class:list={[index !== 0 ? "fs-3" : "", "text-body-secondary fw-bold lh-1 mb-3 mt-4"]}><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row">	
			{fourth3.map((item, index) => (	
			index === 0 ? 
		
			<div class="col-lg-6 p-4">
				<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
			</div>

			<div class="col-lg-6 p-5 d-flex flex-column justify-content-center align-items-start">
				<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
				<h1 class="text-body-secondary fw-bold text-balance lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
				<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
				<div class="py-2">
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
				</div>
				<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
				</a>
			</div>
			
			:
				
			<div class="col-lg-6 p-4">
				<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
			</div>
			))}
		</div><!--end row -->

		<div class="row min-vh-100">
			{fifth3.map((item, index) => (
				<div class="col-lg-4 p-3">
					<a href={`/insights/${encodeURIComponent(item.slug)}/`}>
					<div class="pb-3">
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</div>
				</a>
				</div>
			))}
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<div class="row p-3">
					{sixth5.map((item, index) => (
					<div class="col-lg-12 p-4">
                        <a href={`/insights/${encodeURIComponent(item.slug)}/`}>
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover; min-height: 350px;" alt="">
						<h1 class="text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
						<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
						<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
						</a>
					</div>
					))}
				</div>
			</div>

			<div class="col-lg-6 p-5 order-1 order-lg-2">
				<div class="col-lg-12 py-5">
					<h1 class="display-2 fw-bold">More insights</h1>
				</div>
				<div class="row g-5">
					{next16.map((item, index) => (
					<div class="col-lg-6">
                        <a href={`/insights/${encodeURIComponent(item.slug)}/`}>
						<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
						<h4 class="text-body-secondary fw-bold"><Fragment set:html={item.title.rendered} /></h4>
						<p class="col-md-8 fs-5 text-body-secondary my-0"><Fragment set:html={functions.shorten(item.excerpt.rendered, 100) + '...'}/></p>
						<!--<div class="py-2">
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
							<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
						</div>-->
						<button class="btn btn-dark rounded-pill px-4 mt-2">Read article</button>
						</a>
					</div>
					))}
				</div>
			</div>
		</div>


		<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-4">
			{restOfPosts?.map((item) => (
			<div class="col p-3">
                <a href={`/insights/${encodeURIComponent(item.slug)}/`}>
				<img src="" data-src={item._embedded['wp:featuredmedia'][0].source_url || item.data?.imageUrl} class="w-100" style="object-fit: cover;" alt="">
				<h1 class="fs-3 text-body-secondary fw-bold lh-1 mb-3 mt-4"><Fragment set:html={item.title.rendered} /></h1>
				<div class="col-md-10 fs-5 text-body-secondary mt-0 mb-2"><Fragment set:html={functions.shorten(item.excerpt.rendered, 150)} /></div>
				<div class="py-2">
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
					<p class="small text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
				</div>
				<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
				</a>
			</div>
			))}	
		</div>
	</div>
</Layout>