---
import Layout from '../../layouts/Layout.astro';
// import { getCollection } from "astro:content";
// const guidesPosts = await getCollection("guides");
// astro.glob => getCollection is the difference between getting all files from a directory in pages vs. collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import functions from '../../js/functions.js';

const res = await fetch("https://pftraveldev.wpengine.com/wp-json/pot/v1/airports?per_page=100");
const posts = await res.json();

// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/pot/v1/points';
// const perPage = 51; // Number of posts per page
// let posts = [];
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }


// const apiUrl = 'https://pftraveldev.wpengine.com/wp-json/pot/v1/points';
// const perPage = 51; // Number of posts per page
// let posts = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// let currentPage = 1;
// let totalFetchedPosts = 0;
// while (totalFetchedPosts < 50) { // Stop when reaching 50 posts
// const response = await fetch(`${apiUrl}&per_page=${perPage}&page=${currentPage}`);
// const data = await response.json();
// // console.log('Received posts:', data);
// if (data.length === 0) {
// 	console.log('No more posts, exiting loop');
// 	break; // No more posts, exit loop
// }

// posts = posts.concat(data);
// console.log('Data type of array:', typeof posts);
// totalFetchedPosts += posts.length; // Update total fetched posts
// currentPage++;
// }

// function destructureArray(array) {
//     const first3 = array.slice(0, 3);
//     const second3 = array.slice(3, 6);
//     const third3 = array.slice(6, 9);
//     const fourth3 = array.slice(9, 12);
//     const fifth3 = array.slice(12, 15);
//     const sixth5 = array.slice(15, 19);
//     const next16 = array.slice(19, 31);
//     const restOfPosts = array.slice(31);

//     return [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts];
// }

// const [first3, second3, third3, fourth3, fifth3, sixth5, next16, restOfPosts] = destructureArray(posts);

// const combinedPosts = allPosts.concat(posts);

// let filteredPosts = allPosts.filter(post => post.data.draft === false)
// filteredPosts.sort((a, b) => b.data.pubDate - a.data.pubDate);
// const [firstArticle, ...allArticles] = filteredPosts;
// const [firstArticle, ...allArticles] = guidesPosts;


// const points2 = posts.filter(item => 
// frequentFlyer.some(substring => item.includes(substring))
// );
// const points3 = posts.filter(item => 
// hotelLoyalty.some(substring => item.includes(substring))
// );
// const points4 = posts.filter(item => 
// other.some(substring => item.includes(substring))
// );


function filterAndOrganize(response) {
    // Filter titles that start with "The Complete Guide to"
    let filteredTitles = response.filter(item => item.title.startsWith("The Complete Guide to"));

    // Remove "The Complete Guide to" prefix from titles
    filteredTitles = filteredTitles.map(item => {
        item.title = item.title.replace("The Complete Guide to", "").trim();
        return item;
    });

    // Organize into two groups: Business Class and First Class
    let businessClass = filteredTitles.filter(item => item.title.toLowerCase().includes("business class"));
    let firstClass = filteredTitles.filter(item => item.title.toLowerCase().includes("first class"));

    return { businessClass, firstClass };
}

const organizedResults = filterAndOrganize(posts);

---

<Layout title="Prince of Travel | Point Programs" description="Prince of Travel's latest news on everything from new hotel properties, to flights and airline deals, airports, credit cards, and more." image="">
	<div class="container-fluid">
		<div class="row pt-5">
			<div class="col-lg-6 min-vh-50 d-flex flex-column justify-content-end align-items-start text-start p-5">
			    <h1 class="text-secondary fw-bold ls-1 lh-1" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">Airport Guides</h1>
			    <p class="fs-5 text-body-secondary mt-2 mb-0" data-aos="fade-up" data-aos-delay="600">Discover our essential airport guides, covering location details, terminal layout, airlines and destinations served, lounges and priority services, nearby hotels, international transfer options, and US Pre-Clearance facilities.</p>
		  </div>
		  <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center pt-5 px-0">
            <img class="w-100 object-fit" style="height: 500px; filter: grayscale(100%);" src="" data-src="https://princeoftravel.com/wp-content/uploads/2022/06/YYZ_toronto_pearson_air_canada_emirates-scaled.jpg" alt="" />
          </div>
		</div>

		<div class="row p-4 g-3" style="background: #eee">
			{posts.map((item, index) => (
				<div class="col-lg-6">	
					<div class="card d-flex flex-column justify-content-center align-items-start mb-2 rounded-4 border-0 bg-light" style="min-height: 240px">
						<div class="row g-0 p-3">
							<div class="col-md-4 d-flex flex-column justify-content-center align-items-center position-relative" style="min-height: 240px">
                                <div class="btn btn-light rounded-3 position-absolute top-0 start-0 m-2 opacity-75 shadow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                                        <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
                                    </svg>
                                </div>
								<img src="" data-src={item.featured_image.large || item.data.imageUrl} class="w-100 h-100 object-fit rounded-4" style="aspect-ratio: 16/9; object-position: center" alt="">
							</div>
							<div class="col-md-8 my-auto">
                                <div class="card-body p-4">
                                    <h4 class="fs-3 card-title text-body-secondary fw-bold">
                                        <Fragment set:html={item.custom_fields.short_title} />
                                    </h4>
                                    <p class="card-text text-black-50">
                                        <Fragment set:html={"Our complete guide to " + item.title + '.'} />
                                    </p>
                                    <a href={`/airports/${encodeURIComponent(item.slug)}/`}>
                                        <div class="pt-3">
                                            <button class="btn btn-secondary opacity-75 fw-bold rounded-pill px-4 position-absolute bottom-0 end-0 m-3">Learn more</button>
                                        </div>
                                    </a>
                                </div>
							</div>
						</div>
					</div>
				</div>
			))}
            </div>
	</div>
</Layout>