---
import Layout from '../layouts/Layout.astro';
import data from '../data/sitecontent.json';
import { getCollection } from "astro:content";
const newsPosts = await getCollection("news");
const reviewsPosts = await getCollection("reviews");
const guidesPosts = await getCollection("guides");
import functions from '../js/functions.js';

function filterPost(arr) {
	return arr.filter(item => item.data.draft === false);
}
const pageDataPromise = fetch('https://pftraveldev.wpengine.com/wp-json/pot/v1/page-meta/1032').then(res => res.json());
const blogPostsPromise = fetch('https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?per_page=8&_embed').then(res => res.json());

const [pageData, posts] = await Promise.all([pageDataPromise, blogPostsPromise]);

// const combinedPosts = ccPosts.concat(posts);

// bit-alaska post had a cross at the end of the url which threw a build error in netlify
function encodeURIComponent(url) {
    // Define a regular expression to match special characters
	const regex = /[^\w\s\-#]/gi;
    // Replace special characters with an empty string
    const cleanURL = url.replace(regex, '');
    return cleanURL;
}

---
<Layout title="Welcome to Prince of Travel" description="Prince of Travel" image="/images/video/pc-social-banner.jpeg">
	<!-- https://cdn1.vectorstock.com/i/1000x1000/89/30/a-plane-line-drawing-style-design-vector-30478930.jpg -->
		<div class="container-fluid px-0" data-aos="fade">
			<div class="row min-vh-100 pt-4 position-relative">
                <!-- style="background: url('https://images.unsplash.com/photo-1590602390809-a890807193ec?q=80&w=2899&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center; background-size: cover" -->
                <!-- <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4 bg-pot" style="width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>

                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="300">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4 bg-gold" style="width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>

                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="600">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4" style="background: var(--lime); width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>

                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="900">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4" style="background: var(--peach); width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>

                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="1100">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4" style="background: var(--salmon); width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>
                
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="1400">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4" style="background: var(--orange); width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div>
                
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center text-center p-5 position-absolute top-50 start-50 translate-middle" data-aos="fade" data-aos-delay="1700">
                    <img data-aos="fade-up" class="d-none d-lg-block logo animate-in py-4 ps-4 pe-3 rounded-4 bg-pot" style="width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />				
                </div> -->

				<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 d-flex flex-column justify-content-center align-items-center text-center p-5 bg-light">
					<img data-aos="fade-up" data-aos-delay="100" class="logo animate-in py-4 ps-4 pe-3 mt-5 mt-lg-4 rounded-4 bg-pot" style="width: 90px;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />					
					<h1 class="lh-1 mb-1 mt-2" style="font-size: 12vmin;" data-aos="fade-up" data-aos-delay="200">Rewriting the travel ex<span class="text-pot">p</span>e<span class="text-pot">ri</span>e<span class="text-pot">nce</span>.</h1>
					<p class="fs-5 text-body-secondary" data-aos="fade-up" data-aos-delay="300">Prince of Travel is an expert team of writers, travellers, and credit card experts dedicated to educating, informing, and inspiring our readers to travel more, better, and for cheaper than ever before. We provide vivid stories, personal reviews, credit card and points consultation and bring each story to life in striking detail.</p>
                    <svg  data-aos="fade-up" data-aos-delay="400" xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-chevron-down text-black-50" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                    </svg>
				</div>
			</div>
			<div class="row min-vh-100 position-relative p-5">
				<div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-navy" data-aos="fade" data-aos-delay="500"></div>
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative text-light">
					<div class="mx-4 mx-lg-0 p-5 rounded-5 bg-navy" data-aos="fade">
						<h1 class="mb-1 mt-3 animate-in" style="font-size: 13vmin;" data-aos="fade"> 
							News. Deals. Guides. Reviews.
						<span class="d-block text-gold" data-aos="fade-up" data-aos-delay="200">Start here. Read anywhere.</span>
						</h1>
						<p class="fs-4" data-aos="fade" data-aos-delay="400">Explore the Prince of Travel <a href="/blog" class="fw-bold text-gold">blog</a>, a curated platform designed to elevate your travel experiences, ignite your curiosity and expand your expertise. Dive into a wealth of meticulously crafted content ranging from breaking travel news to insider deals, comprehensive travel guides, and personal, candid reviews. Start your journey here, where every article serves as a gateway to new destinations and enriching experiences. Whether you seek off-the-beaten-path adventures or luxury escapes, our blog is your compass.</p>
					</div>
				</div>

				<div class="col-lg-12 p-4">
					<div class="row g-3">
					{posts.map((post, index) => (
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay={index * 100}>
							<a href={`/${post.category_name}/${post.slug}/`}>
								<div class="card rounded-5 border-0 shadow">
									<img src="" data-src={post._embedded['wp:featuredmedia'][0].source_url } class="card-img-top position-absolute top-0 start-0 z-0 w-100 h-100 object-fit rounded-5" style="filter: brightness(0.4)" alt="..." />
									<div class="card-img-overlay position-relative">
										<div class="card-body min-vh-50 text-light d-flex flex-column justify-content-end align-items-start p-4">
										<p class="small mb-2" style="text-transform: capitalize;">{post._embedded['wp:term'][0][0].slug}</p>
										<h5 class="card-title fs-4 fw-bold mb-0"><Fragment set:html={post.title.rendered} /></h5>
										<div class="card-text my-0"><Fragment set:html={post.excerpt.rendered} /></div>
											<i class="bi bi-arrow-up-right-circle-fill text-pc-light fs-1 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
										</div>
									</div>
								</div>
							</a>
						</div>
					))}
					</div>
				</div>
			</div>

		  <!-- credit cards -->

		  <div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-gold" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center position-relative">
				<div class="mx-4 mx-lg-0 p-5 rounded-5 bg-gold" data-aos="fade">
					<h1 class="text-light mb-1 mt-3 animate-in" style="font-size: 13vmin;" data-aos="fade">Credit Cards.
					<span class="d-block text-black-50" data-aos="fade-up" data-aos-delay="200">Everything you need to travel better.</span>
					</h1>
					<p class="fs-4" data-aos="fade-up" data-aos-delay="400">From earning points on every travel expense to enjoying priority boarding and complimentary hotel stays, learn how the right credit card can amplify your adventures. Whether you're chasing dream destinations or seeking unforgettable experiences, equip yourself with the ultimate tool for seamless payments and unparalleled travel privileges. Embark on a journey towards boundless exploration and remarkable travel rewards today.</p>
                    <div class="mt-4" data-aos="fade-up" data-aos-delay="600">
                        <a href="/credit-cards">
                            <button class="btn btn-dark opacity-50 btn-lg rounded-pill px-5 py-3 fw-bold">See more</button>
                        </a>
                    </div>
				</div>
			</div>

			<!-- <FetchData client:idle /> -->

			<div class="row mx-auto g-4 px-5">

				<div class="col-lg-8 offset-lg-2 px-5 text-center text-black-50 position-relative" data-aos="fade">
					<h5>{pageData.section_3_bottom_text}</h5>
					<h2 class="display-3 text-center position-relative ls-1 lh-1 fw-bold mt-2">{pageData.section3_heading}</h2>					
				</div>
				<div class="col-xl-6" data-aos="fade-up">
					<div class="card mb-2 rounded-5 shadow position-relative" style="background: rgba(255,255,255,0.6); min-height: 320px;">
						<div class="position-absolute top-0 end-0 m-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bookmark-star-fill text-black-50" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
							</svg>
						</div>
						<div class="row p-3 g-0">
						  <div class="col-sm-5 d-flex justify-content-center align-items-center p-3 rounded-5 position-relative" style="min-height: 350px;">
							<div class="position-absolute z-0 rounded-circle top-50 start-50 translate-middle" style="height: 15vw; width: 15vw; background: #00000050"></div>
							<img src={pageData.top_offers_0_credit_card_featured_image} class="landscape position-relative" data-image-id="0" alt="">
						  </div>
						  <div class="col-sm-7 p-4">
							<div class="card-body d-flex flex-column justify-content-center align-items-start ">
								<h5 class="fs-3 text-dark card-title fw-bold mb-0" style="font-size: 24px; text-wrap: pretty"><Fragment set:html={pageData.top_offers_0_credit_card.credit_card_short_name} /></h5>
								<div class="card-text mt-3 mb-2">
									<p class="small m-0" ><Fragment set:html={pageData.top_offers_0_credit_card.membership_reward} /></p>
									<p class="small m-0"><Fragment set:html={pageData.top_offers_0_credit_card.fees} /></p>
								</div>
								<ul class="mt-2 ps-3" style="font-size: 15px">
									<li><Fragment set:html={pageData.top_offers_0_credit_card.features_0_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_0_credit_card.features_1_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_0_credit_card.features_2_feature} /></li>
								</ul>
								<div class="d-flex position-absolute end-0 bottom-0 m-4">
									<a href={pageData.top_offers_0_credit_card.apply_now_link}>
										<button class="btn btn-sm btn-dark rounded-pill me-1 mt-1 px-3" style="font-size: 13px">Apply
									</button>
									</a>
									<a href={`/credit-cards/${encodeURIComponent(pageData.top_offers_0_credit_card_slug)}`}>
										<button class="btn btn-sm btn-secondary rounded-pill mt-1 px-3 opacity-75" style="font-size: 13px">Learn more
										</button>
									</a>
								</div>
							</div>
						  </div>
						</div>
					</div>
				</div>

				<div class="col-xl-6" data-aos="fade-up" data-aos-delay="200">
					<div class="card mb-2 rounded-5 position-relative" style="background: rgba(255,255,255,0.6); min-height: 320px;">
						<div class="position-absolute top-0 end-0 m-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bookmark-star-fill text-black-50" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
							</svg>
						</div>
						<div class="row p-3 g-0">
							<div class="col-sm-5 d-flex justify-content-center align-items-center p-3 rounded-5 position-relative" style="min-height: 350px;">
								<div class="position-absolute z-0 rounded-circle top-50 start-50 translate-middle" style="height: 15vw; width: 15vw; background: #00000050"></div>
							<img src={pageData.top_offers_1_credit_card_featured_image} class="landscape position-relative" data-image-id="1" alt="">
						  </div>
						  <div class="col-sm-7 p-4">
							<div class="card-body d-flex flex-column justify-content-center align-items-start ">
								<h5 class="fs-3 text-dark card-title fw-bold mb-0" style="font-size: 24px; text-wrap: pretty"><Fragment set:html={pageData.top_offers_1_credit_card.credit_card_short_name} /></h5>
								<div class="card-text mt-3 mb-2">
									<p class="small m-0" ><Fragment set:html={pageData.top_offers_1_credit_card.membership_reward} /></p>
									<p class="small m-0"><Fragment set:html={pageData.top_offers_1_credit_card.fees} /></p>
								</div>
								<ul class="mt-2 ps-3" style="font-size: 15px">
									<li><Fragment set:html={pageData.top_offers_1_credit_card.features_0_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_1_credit_card.features_1_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_1_credit_card.features_2_feature} /></li>
								</ul>
								<div class="d-flex position-absolute end-0 bottom-0 m-4">
									<a href={pageData.top_offers_1_credit_card.apply_now_link}>
										<button class="btn btn-sm btn-dark rounded-pill me-1 mt-1 px-3" style="font-size: 13px">Apply
									</button>
									</a>
									<a href={`/credit-cards/${encodeURIComponent(pageData.top_offers_1_credit_card_slug)}`}>
										<button class="btn btn-sm btn-secondary rounded-pill mt-1 px-3 opacity-75" style="font-size: 13px">Learn more
										</button>
									</a>
								</div>
							</div>
						  </div>
						</div>
					</div>
				</div>

				<div class="col-xl-6" data-aos="fade-up" data-aos-delay="400">
					<div class="card mb-2 rounded-5 position-relative" style="background: rgba(255,255,255,0.6); min-height: 320px;">
						<div class="position-absolute top-0 end-0 m-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bookmark-star-fill text-black-50" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
							</svg>
						</div>
						<div class="row p-3 g-0">
							<div class="col-sm-5 d-flex justify-content-center align-items-center p-3 rounded-5 position-relative" style="min-height: 350px;">
								<div class="position-absolute z-0 rounded-circle top-50 start-50 translate-middle" style="height: 15vw; width: 15vw; background: #00000050"></div>
							<img src={pageData.top_offers_2_credit_card_featured_image} class="landscape position-relative" data-image-id="2" alt="">
						  </div>
						  <div class="col-sm-7 p-4">
							<div class="card-body d-flex flex-column justify-content-center align-items-start ">
								<h5 class="fs-3 text-dark card-title fw-bold mb-0" style="font-size: 24px; text-wrap: pretty"><Fragment set:html={pageData.top_offers_2_credit_card.credit_card_short_name} /></h5>
								<div class="card-text mt-3 mb-2">
									<p class="small m-0" ><Fragment set:html={pageData.top_offers_2_credit_card.membership_reward} /></p>
									<p class="small m-0"><Fragment set:html={pageData.top_offers_2_credit_card.fees} /></p>
								</div>
								<ul class="mt-2 ps-3" style="font-size: 15px">
									<li><Fragment set:html={pageData.top_offers_2_credit_card.features_0_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_2_credit_card.features_1_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_2_credit_card.features_2_feature} /></li>
								</ul>
								<div class="d-flex position-absolute end-0 bottom-0 m-4">
									<a href={pageData.top_offers_2_credit_card.apply_now_link}>
										<button class="btn btn-sm btn-dark rounded-pill me-1 mt-1 px-3" style="font-size: 13px">Apply
									</button>
									</a>
									<a href={`/credit-cards/${encodeURIComponent(pageData.top_offers_2_credit_card_slug)}`}>
										<button class="btn btn-sm btn-secondary rounded-pill mt-1 px-3 opacity-75" style="font-size: 13px">Learn more
										</button>
									</a>
								</div>
							</div>
						  </div>
						</div>
					</div>
				</div>

				<div class="col-xl-6" data-aos="fade-up" data-aos-delay="600">
					<div class="card mb-2 rounded-5 position-relative" style="background: rgba(255,255,255,0.6); min-height: 320px;">
						<div class="position-absolute top-0 end-0 m-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bookmark-star-fill text-black-50" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
							</svg>
						</div>
						<div class="row p-3 g-0">
							<div class="col-sm-5 d-flex justify-content-center align-items-center p-3 rounded-5 position-relative" style="min-height: 350px;">
								<div class="position-absolute z-0 rounded-circle top-50 start-50 translate-middle" style="height: 15vw; width: 15vw; background: #00000050"></div>
							<img src={pageData.top_offers_3_credit_card_featured_image} class="landscape position-relative" data-image-id="1" alt="">
						  </div>
						  <div class="col-sm-7 p-4">
							<div class="card-body d-flex flex-column justify-content-center align-items-start ">
								<h5 class="fs-3 text-dark card-title fw-bold mb-0" style="font-size: 24px; text-wrap: pretty"><Fragment set:html={pageData.top_offers_3_credit_card.credit_card_short_name} /></h5>
								<div class="card-text mt-3 mb-2">
									<p class="small m-0" ><Fragment set:html={pageData.top_offers_3_credit_card.membership_reward} /></p>
									<p class="small m-0"><Fragment set:html={pageData.top_offers_3_credit_card.fees} /></p>
								</div>
								<ul class="mt-2 ps-3" style="font-size: 15px">
									<li><Fragment set:html={pageData.top_offers_3_credit_card.features_0_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_3_credit_card.features_1_feature} /></li>
									<li><Fragment set:html={pageData.top_offers_3_credit_card.features_2_feature} /></li>
								</ul>
								<div class="d-flex position-absolute end-0 bottom-0 m-4">
									<a href={pageData.top_offers_3_credit_card.apply_now_link}>
										<button class="btn btn-sm btn-dark rounded-pill me-1 mt-1 px-3" style="font-size: 13px">Apply
									</button>
									</a>
									<a href={`/credit-cards/${encodeURIComponent(pageData.top_offers_3_credit_card_slug)}`}>
										<button class="btn btn-sm btn-secondary rounded-pill mt-1 px-3 opacity-75" style="font-size: 13px">Learn more
										</button>
									</a>
								</div>
							</div>
						  </div>
						</div>
					</div>
				</div>
				<!--end card column -->
			</div><!--end individual credit cards row -->

		</div><!--end CC section -->

		<!-- points -->

		<div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-lightblue" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative text-light">
				<div class="mx-4 mx-lg-0 p-5 rounded-5 bg-lightblue" data-aos="fade">
					<h1 class="mb-1 mt-3 animate-in" style="font-size: 13vmin;" data-aos="fade">Travelling on Points?
					<span class="d-block text-black-50" data-aos="fade-up" data-aos-delay="200">We've got your back.</span>
					</h1>
					<p class="fs-4" data-aos="fade-up" data-aos-delay="400"><Fragment set:html={pageData.fe_content}/></p>
                    <div class="mt-4 pt-2" data-aos="fade-up" data-aos-delay="600">
                        <a href="/newbie-guide">
                            <button class="btn btn-dark btn-lg opacity-50 rounded-pill px-5 py-3 fw-bold">See all</button>
                        </a>
                    </div>
				</div>
			</div>
			
			<div id="points" class="col-lg-10 offset-lg-1 d-flex flex-column justify-content-center align-items-center rounded-5 position-relative">
				<h2 class="display-3 text-start position-relative ls-1 lh-1 fw-bold text-black-50 py-4">{pageData.section_3_bottom_heading}</h2>
			<a href="/points-valuations">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 px-4 px-lg-5">
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 fw-light"><Fragment set:html={pageData.all_points_0_pointtext}/></p>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_0_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_1_pointtext}/></p>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_1_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_2_pointtext} /></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_2_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_3_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_3_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_4_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_4_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_5_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_5_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_6_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_6_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-gold d-flex flex-column justify-content-end align-items-start p-5">
					<p class="card-title fs-4 lh-1 fw-light"><Fragment set:html={pageData.all_points_7_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_7_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-gold fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
		</div>
		</a>
		<div class="mt-5" data-aos="fade-up" data-aos-delay="200">
			<a href="/points-valuations">
				<button class="btn btn-dark btn-lg rounded-pill px-5 py-3 fw-bold text-gold">See all</button>
			</a>
		</div>
		</div>

		</div><!-- end points -->

		<div class="row min-vh-100 position-relative z-0 py-5">
			<!-- <div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-secondary z-0"></div> -->
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-ivory" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative">
				<div class="mx-4 mx-lg-0 p-5 rounded-5 bg-ivory" data-aos="fade">
					<h1 data-aos="fade" class="mb-1 mt-3 animate-in" style="font-size: 13vmin;" data-aos="fade"> 
						Join our community.
					<span class="d-block text-black-50" data-aos="fade-up" data-aos-delay="200">Get the best travel news, guides, deals and more.</span>
					</h1>
					<p data-aos="fade-up" data-aos-delay="400" class="fs-4 text-black-50">Join the Prince of Travel community and discover a world of exclusive travel insights. Unlock a wealth of curated travel news, expert guides, irresistible deals, and much more. Subscribers gain access to invaluable resources that will enrich your travel experiences and inspire your wanderlust. Together, let's explore new horizons and create unforgettable memories. Start your adventure with us now!</p>
                    <div data-aos="fade-up" data-aos-delay="450" class="klaviyo-form-Yk3c7x mt-4 w-100 mx-auto p-2 border border-secondary rounded-3"></div>
				</div>
			</div>
		</div>

		<!-- book travel -->

		<div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--charcoal);" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative text-light">
				<div class="mx-4 mx-lg-0 p-5 rounded-5" style="background: var(--charcoal);">
					<h1 class="text-light mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
						Book your travel.
					<span class="d-block" style="color: #ccc">Let Concierge by Prince Collection do it for you.</span>
					</h1>
					<p class="fs-4">Concierge by Prince Collection is designed exclusively for the most discerning of travellers seeking the world’s best travel experiences, all handled seamlessly by our Concierge team. As time is your most valuable asset, we’ll help you unlock an extraordinary journey without lifting a finger courtesy of our white-glove Concierge service.</p>
					<a href="https://princecollection.com" target="_blank">
						<button class="btn btn-lg btn-secondary rounded-pill px-5 py-3 fw-bold">Lean more</button>
					</a>
				</div>
			</div>
		</div>
		
		<!-- about us -->
		<div class="row min-vh-100 position-relative py-5 text-light">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100 bg-pot" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative">
				<div class="mx-4 mx-lg-0 p-5 rounded-5 bg-pot">
					<h1 class="mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
						Who we are.
					<span class="d-block text-gold">We make travel better, easier & more accessible.</span>
					</h1>
					<p class="fs-5">At our core, Prince of Travel is dedicated to enhancing the  experience of travel, making it more seamless, accessible, and enjoyable for all. With a commitment to innovation and service excellence, we strive to unlock the mysteries of points, simplify travel complexities, and empower individuals to explore the world with ease. From hotel and airline reviews to breaking travel news and how-to guides, we are your trusted partner in creating memorable journeys. Discover how we redefine the travel experience, ensuring every adventure is enriched with convenience and joy.</p>
					<a href="/about">
						<button class="btn btn-lg btn-light bg-gold border-0 opacity-75 rounded-pill px-5 py-3 fw-bold">About us</button>
					</a>
				</div>
			</div>
		</div>

		</div><!--end container -->
</Layout>

<script>
	// https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play
	// astro reinit script in SPA mode w/ astro:page-load => didn't work
</script>

<style scoped>

h1, .h1,
h1 span,
h2, .h2,
h3, .h3 {
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 95%;
  /* text-transform: uppercase; */
}

	/* p {
		color: var(--bs-secondary-color);
	} */
	.columns {
    column-count: 4;
    column-gap: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    writing-mode: horizontal-tb;

}
@media only screen and (min-width: 1200px) {
  .columns {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  } 
}

@media only screen and (max-width: 992px) {
  .columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  } 
}
@media only screen and (max-width: 768px) {
  .columns {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  } 
}
@media only screen and (max-width: 600px) {
  .columns {
    columns: 200px 1;
    -moz-columns: 200px 1;
    -webkit-columns: 200px 1;
  } 
}

#points .card {
	min-height: 315px;
	background: var(--bs-dark);
}

@media screen and (max-width: 768px) {
	#points .card {
	min-height: 250px;
}	
}

li {
  /* list-style-image: url(/right-arrow.svg); */
  /* OR */
  list-style-type: '✱';
  padding-inline-start: 1ch;
}
</style>