---
import Layout from '../layouts/Layout.astro';
import data from '../data/sitecontent.json';
import { getCollection } from "astro:content";
const newsPosts = await getCollection("news");
const reviewsPosts = await getCollection("reviews");
const guidesPosts = await getCollection("guides");
import functions from '../js/functions.js';

function filterPost(arr) {
	return arr.filter(item => item.data.draft === false);
}

const res = await fetch('https://pftraveldev.wpengine.com/wp-json/pot/v1/page-meta/1032');
const pageData = await res.json();

const blogResponse = await fetch("https://pftraveldev.wpengine.com/wp-json/wp/v2/posts?_embed&per_page=8");
const posts = await blogResponse.json();

// const combinedPosts = ccPosts.concat(posts);

console.log(pageData);

// bit-alaska post had a cross at the end of the url which threw a build error in netlify
function removeSpecialCharactersFromURL(url) {
    // Define a regular expression to match special characters
	const regex = /[^\w\s\-#]/gi;
    // Replace special characters with an empty string
    const cleanURL = url.replace(regex, '');
    return cleanURL;
}

---
<Layout title="Welcome to Prince of Travel" description="Prince of Travel" image="/images/video/pc-social-banner.jpeg">
	<!-- https://cdn1.vectorstock.com/i/1000x1000/89/30/a-plane-line-drawing-style-design-vector-30478930.jpg -->
		<div class="container-fluid px-0" data-aos="fade">
			<div class="row min-vh-100">
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center p-5">
					<img class="logo animate-in py-4 ps-4 pe-3 rounded-4" style="width: 100px; filter: invert(1); border: 2px solid lightgrey;" src="/images/logos/pot-crown-white.png" alt="Prince of Travel logo" />					
					<h1 class="fw-bold lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;">Rewriting the travel experience.</h1>
					<p class="fs-5">Prince of Travel provides an incredibly diverse and wide range of travel knowledge. Our expert writers, travellers, and credit card experts offer a wealth of travel experience that surfaces the most compelling, must-read content in our News, Deals, Reviews, Points and Hotel Programs collections. Vivid stories, personal reviews, credit card and points consultation: we bring each story to life in striking detail.</p>
					<!-- <p class="fs-3 col-lg-8">Be inspired to travel <span class="fw-bold">more,</span> <span class="fw-bold">better,</span> and <span class="fw-bold">cheaper</span> with Prince of Travel's expertise in travel rewards, points programs, credit cards, and accommodation.</p> -->
				</div>
			</div>
			<div class="row min-vh-100 position-relative py-4">
				<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--lightblue);" data-aos="fade" data-aos-delay="500"></div>
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative rounded-5 p-5" style="background: var(--lightblue);">
					<h1 class="fw-bold text-light lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
						News. Deals. Guides. Reviews.
					<span class="d-block text-black-50">Start here. Read anywhere.</span>
					</h1>
					<p class="fs-5">Prince of Travel provides an incredibly diverse and wide range of travel knowledge. Our expert writers, travellers, and credit card experts offer a wealth of travel experience that surfaces the most compelling, must-read content in our News, Deals, Reviews, Points and Hotel Programs collections. Vivid stories, personal reviews, credit card and points consultation: we bring each story to life in striking detail.</p>
				</div>

				<div class="col-lg-12 p-4">
					<div class="row g-3">
					{posts.map((post, index) => (
						<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay={index * 200}>
							<a href={`/${post._embedded['wp:term'][0][0].slug}/${post.slug}/`}>
								<div class="card rounded-5 border-0 shadow">
									<img src="" data-src={post._embedded['wp:featuredmedia'][0].source_url } class="card-img-top position-absolute top-0 start-0 z-0 w-100 h-100 object-fit rounded-5" style="filter: brightness(0.4)" alt="..." />
									<div class="card-img-overlay position-relative">
										<div class="card-body min-vh-50 text-light d-flex flex-column justify-content-end align-items-start p-4">
										<p class="small mb-2" style="text-transform: capitalize;">{post._embedded['wp:term'][0][0].slug}</p>
										<h5 class="card-title fs-4 fw-900">{post.title.rendered}</h5>
										<!--<p class="small mb-2 mt-0">{post.date.toString().slice(0,10)}</p>-->
										<p class="card-text mb-3 mt-2">{post.excerpt.rendered}</p>
											<i class="bi bi-arrow-up-right-circle-fill text-pc-light fs-1 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
										</div>
									</div>
								</div>
							</a>
						</div>
					))}
					</div>
				</div>
			</div>

			<!-- <div class="columns p-3">
				{allArticles?.map((post) => (
						<div class="card bg-pc-light rounded-4 p-0 border-0 shadow mb-3" style="min-height: 500px; break-inside: avoid-column; white-space: nowrap;">
							<img src="" data-src={post.data.imageUrl} class="card-img-top rounded-top-4 w-100 p-2" style="object-fit: cover; height: 200px;" alt={post.data.imageAlt}>
							<i class="bi bi-arrow-up-right-circle-fill text-pc-10 fs-1 position-absolute top-0 end-0 me-3 mt-2"></i>
							<div class="card-body position-relative px-4 pb-4">
								<p class="small mb-2">{post.data.pubDate.toString().slice(0,10)}</p>
								<h5 class="card-title fw-bold mb-0 text-balance">{post.data.title}</h5>
								<p class="small m-0 text-secondary mt-2 mb-0">By: {post.data.author}</p>
				  <div class="d-flex flex-wrap pb-3 pt-2">
					<button class="btn btn-sm btn-secondary opacity-75 me-1 rounded-pill px-4" type="button" data-bs-toggle="offcanvas" data-bs-target={'#item_' + index} aria-controls="offcanvasBottom">Details</button>
					<a href={`/credit-cards/${post.data.slug}`}>
					<button class="btn btn-sm btn-secondary rounded-pill px-4">Review</button>
					</a>
				  </div>
							</div>
						</div>
				))}

		  
			{posts?.map((item, index) => (		
			<div class="card rounded-4 p-0 border-0 shadow bg-pc-light mb-3" style="min-height: 500px; break-inside: avoid-column; white-space: nowrap;">
				<img src={item._embedded['wp:featuredmedia'][0].source_url || item.data.imageUrl} class="w-100 rounded-top-4" style="object-fit: cover; filter: grayscale(100%);" alt="">
				<div class="card-body position-relative px-4 pb-3">
                    <p class="small m-0 text-secondary mt-2 mb-0" style="text-transform: capitalize;">{item._embedded['wp:term'][0][0].slug}</p>
					<h2 class="fs-5 text-body-secondary fw-bold text-balance">{item.title.rendered}</h2>
					<p class=" fs-5 text-body-secondary my-0"><Fragment set:html={functions.shorten(item.excerpt.rendered, 100) + '...'}/></p>
					<div class="py-2">
						<p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {item._embedded?.author[0].name || item.data.author}</p>
						<p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {item.date.toString().slice(0,10) || item.data.pubDate.toString().slice(0,10)}</p>
					</div>
					<a href={`/news/${removeSpecialCharactersFromURL(item.slug)}/`}>
						<button class="btn btn-dark rounded-pill px-4 mt-2">Read article</button>
					</a>
				  </div>
				</div>
			</div>	  
			))}
		  </div> -->

		  <!-- credit cards -->

		  <div class="row min-vh-100 position-relative py-4">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--green);" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative rounded-5 p-5" style="background: var(--green);">
				<h1 class="fw-bold text-light lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
					Credit Cards.
				<span class="d-block text-black-50">Everything you need to travel better.</span>
				</h1>
				<p class="fs-5">Prince of Travel provides an incredibly diverse and wide range of travel knowledge. Our expert writers, travellers, and credit card experts offer a wealth of travel experience that surfaces the most compelling, must-read content in our News, Deals, Reviews, Points and Hotel Programs collections. Vivid stories, personal reviews, credit card and points consultation: we bring each story to life in striking detail.</p>
			</div>
		</div>

		<!-- points -->

		<div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--orange);" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative rounded-5 p-5" style="background: var(--orange);">
				<h1 class="fw-bold text-light lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
					Travelling on Points?
				<span class="d-block text-black-50 lh-1">We've got your back.</span>
				</h1>
				<p class="fs-4 text-black-50"><Fragment set:html={pageData.fe_content}/></p>
			</div>

			
			
			<div id="points" class="col-lg-10 offset-lg-1 d-flex flex-column justify-content-center align-items-center rounded-5 position-relative">
				<h2 class="display-3 text-center position-relative ls-1 lh-1 fw-bold text-black-50 py-4">{pageData.section_3_bottom_heading}</h2>
			<a href="/points-valuations">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 px-4 px-lg-5">
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_0_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_0_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_1_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_1_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_2_pointtext} /></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_2_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_3_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_3_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_4_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_4_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_5_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_5_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_6_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_6_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>
			<div class="col" data-aos="fade-up">
				<div class="card rounded-5 border-0 shadow">
					<div class="card-body text-warning d-flex flex-column justify-content-end align-items-start p-5">
					<h2 class="card-title fs-4 fw-bold"><Fragment set:html={pageData.all_points_7_pointtext}/></h2>
					<p class="fs-1 card-text mb-3 mt-2">{pageData.all_points_7_point_number}</p>
					<i class="bi bi-arrow-up-right-circle-fill text-warning fs-3 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
					</div>
				</div>
			</div>

			</div>
		</a>
		</div>

		</div><!-- end points -->

		<div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--royalblue);" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative rounded-5 p-5" style="background: var(--royalblue);">
				<h1 class="fw-bold text-light lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
					Join our community.
				<span class="d-block text-black-50">Get the best travel news, guides, deals and more.</span>
				</h1>
				<p class="fs-5">Prince of Travel newsletter subscribers enjoy exclusive information, deals, and more straight to you inbox every week.</p>
			</div>
		</div>

		<div class="row min-vh-100 position-relative py-5">
			<div class="position-absolute z-0 top-0 start-0 w-100 h-100" style="background: var(--salmon);" data-aos="fade" data-aos-delay="500"></div>
			<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-start position-relative rounded-5 p-5" style="background: var(--salmon);">
				<h1 class="fw-bold text-light lh-1 ls-1 mb-1 mt-3 animate-in" style="font-size: 13vmin;"> 
					Who we are.
				<span class="d-block text-black-50">We make travel better, easier & more accessible.</span>
				</h1>
				<p class="fs-5">Prince of Travel provides an incredibly diverse and wide range of travel knowledge. Our expert writers, travellers, and credit card experts offer a wealth of travel experience that surfaces the most compelling, must-read content in our News, Deals, Reviews, Points and Hotel Programs collections. Vivid stories, personal reviews, credit card and points consultation: we bring each story to life in striking detail.</p>
			</div>
		</div>


			<!--book -->

			<div class="row p-5">
				<div class="col-lg-8 offset-lg-2 text-center">
					<span class="badge rounded-pill fw-bold bg-pc-60 text-pc-dark py-2 px-3" data-aos="fade-up">{data.home.book.badge}</span>
					<h2 class="display-4 fw-900 lh-1 my-3" data-aos="fade-up" data-aos-delay="200">{data.home.book.title}</h2>
					<p class="fs-5 col-lg-8 offset-lg-2" data-aos="fade-up" data-aos-delay="400"><Fragment set:html={data.home.book.content}/></p>
				</div>
			</div>
			
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 text-body-secondary px-4 px-lg-5 pb-5">
				{data.home.book.list.map((item, index) => (
					<div class="col text-black-50" data-aos="fade-up" data-aos-delay={index * 100}>
						<div class="p-5 rounded-4 bg-pc-20 shadow" style="min-height: 420px">
							<i class:list={["bi text-pc-dark fs-1 px-3 py-2 shadow rounded-3 bg-pc-80", item.icon]}></i>
							<h4 class="fw-bold mb-3 mt-4 pt-1">{item.title}</h4>
							<p class="fs-5">{item.content}</p>
						</div>
					</div>
				))}
			</div>

			<div class="row p-5">
				<div class="col-lg-8 offset-lg-2 text-center">
					<span class="badge rounded-pill fw-bold text-pc-dark bg-pc-60 py-2 px-3" data-aos="fade-up">{data.home.exclusive.badge}</span>
					<h2 class="display-4 fw-900 lh-1 my-3" data-aos="fade-up" data-aos-delay="200"><Fragment set:html={data.home.exclusive.title}/></h2>
					<p class="fs-5 col-lg-10 offset-lg-1" data-aos="fade-up" data-aos-delay="400">{data.home.exclusive.content}</p>
					<a href="/book">
						<button class="btn btn-pc fw-bold rounded-pill px-4 shadow" data-aos="fade-up" data-aos-delay="600">{data.home.exclusive.button}</button>
					</a>
				</div>
			</div>

			<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 p-5 bg-pc-10 g-4 mt-0 mt-lg-3" data-aos="fade-up">
				{
					data.home.logos2.map((item, index) => (
					<div class="col d-flex my-auto text-center p-3" style="filter: brightness(0);">
						<img src="" data-src={item.url} style={index === 0 || index === 1 || index === 4 ? 'width: 140px;' : 'width: 120px'} alt={item.alt} />
					</div>
				))}
			</div>

			<div class="p-4"></div>

			<div class="row px-4 px-lg-5">
				<div class="col-lg-12 col-xl-3">
					<div class="d-flex flex-column justify-content-center align-items-start bg-pc-dark-80 h-100 min-vh-50 rounded-5 p-5">
					<span class="badge rounded-pill fw-bold bg-pc-60 text-pc-dark py-2 px-3 mb-3">{data.home.reviews.badge}</span>
					<h3 class="fw-bold text-pc-60 fs-1 lh-1">{data.home.reviews.title}</h3>
					<p class="py-1 text-pc-light">{data.home.reviews.content}</p>
					<a href="/reviews">
						<button class="btn btn-sm btn-pc rounded-pill fw-bold px-3 text-pc-light">See more</button>
					</a>
					</div>
				</div>
				<div class="col-lg-12 col-xl-9">
					<div class="row g-3 py-3 py-xl-0">
					{reviewsPosts.slice(0,3).map((post, index) => (
						<div class:list={[index === 2 ? 'col-md-12 col-lg-4' : 'col-md-6 col-lg-4']} data-aos="fade-up" data-aos-delay={index * 200}>
							<a href={`/reviews/${post.slug}/`}>
								<div class="card rounded-5 bg-pc-dark border-0 shadow">
									<img src="" data-src={post.data.imageUrl} class="card-img-top position-absolute top-0 start-0 z-0 w-100 h-100 object-fit rounded-5 p-3" style="filter: brightness(0.4)" alt="..." />
									<div class="card-img-overlay position-relative">
										<div class="card-body min-vh-500 text-light d-flex flex-column justify-content-end align-items-start p-4">
											<p class="small mb-2 mt-0">{post.data.pubDate.toString().slice(0,10)}</p>
											<h5 class="card-title fs-4 fw-900">{post.data.title}</h5>
											<p class="card-text my-3">{post.data.description}</p>
											<i class="bi bi-arrow-up-right-circle-fill text-pc-light fs-1 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
										</div>
									</div>
								</div>
							</a>
						</div>
					))}
					</div>
				</div>
			</div>

			<div class="py-0 py-lg-4"></div>

			<div class="row px-4 px-lg-5">
				<div class="col-lg-6 p-5">
					<span class="badge rounded-pill fw-bold bg-pc-60 text-pc-dark py-2 px-3 mb-3" data-aos="fade-up">{data.home.concierge.badge}</span>
					<h3 class="fw-bold display-4 lh-1" data-aos="fade-up" data-aos-delay="200">{data.home.concierge.title}</h3>
					<p class="fs-5 py-1" data-aos="fade-up" data-aos-delay="400">{data.home.concierge.content}</p>
					<a href="/concierge">
						<button class="btn btn-pc rounded-pill px-4 fw-bold shadow" data-aos="fade-up" data-aos-delay="600">{data.home.concierge.button}</button>
					</a>
				</div>
				<div class="col-lg-6" data-aos="fade-up" data-aos-delay="800">
					<img class="w-100 h-100 rounded-4 object-fit" src="" data-src="/images/general/pc-chairs-white-balcony-ocean.avif" alt="Prince Collection Concierge" />
				</div>
			</div>

			<div class="row p-4 p-lg-5">
				<div class="col-lg-12 col-xl-3 order-2 order-xl-1">
					<div class="d-flex flex-column justify-content-center align-items-start bg-pale-dogwood text-body-secondary h-100 min-vh-50 rounded-5 p-5 shadow">
					<span class="badge rounded-pill fw-bold bg-pc-dark text-pc-light py-2 px-3 mb-3">{data.home.guides.badge}</span>
					<h3 class="fw-bold fs-1 lh-1">{data.home.guides.title}</h3>
					<p class="py-1">{data.home.guides.content}</p>
					<a href="/guides">
						<button class="btn btn-sm btn-light border-0 bg-pc-dark rounded-pill fw-bold px-3 text-pc-light">{data.home.guides.button}</button>
					</a>
					</div>
				</div>
				<div class="col-lg-12 col-xl-9 order-2 order-xl-1">
					<div class="row g-3 py-3 py-xl-0">
						{
						filterPost(guidesPosts).slice(0,3).map((item, index) => (
						<div class:list={[index === 2 ? 'col-md-12 col-lg-4' : 'col-md-6 col-lg-4']} data-aos="fade-up" data-aos-delay={index * 200}>
							<a href={`/guides/${item.slug}/`}>
								<div class="card rounded-5 bg-pale-dogwood border-0 shadow position-relative">
									<img src="" data-src={item.data.imageUrl} class="card-img-top position-absolute top-0 start-0 z-0 w-100 h-100 object-fit rounded-5 p-3" style="filter: brightness(0.4)" alt="..." />
									<div class="card-img-overlay position-relative">
									<div class="card-body min-vh-500 text-light d-flex flex-column justify-content-end align-items-start p-4">
										<p class="small mb-2 mt-0">{item.data.pubDate.toString().slice(0,10)}</p>
										<h5 class="card-title fs-4 fw-900">{item.data.title}</h5>
										<p class="card-text my-3">{item.data.description}</p>
										<i class="bi bi-arrow-up-right-circle-fill text-pc-light fs-1 position-absolute top-0 end-0 me-2 mt-1 p-3"></i>
									</div>
									</div>
								</div>
								</a>
							</div>
							))}
					</div>
				</div>
			</div>

			<div class="row bg-pc-80 py-5 text-body-secondary" data-aos="fade-up">
				<div class="col-lg-8 offset-lg-2 p-5 text-center">
					<span class="badge rounded-pill fw-bold bg-pc-dark text-pc-light py-2 px-3" data-aos="fade-up">{data.home.newsletter_cta.badge}</span>
					<h2 class="display-4 fw-bold lh-1" data-aos="fade-up" data-aos-delay="200"><Fragment set:html={data.home.newsletter_cta.title}/></h2>
					<p class="fs-5 my-3 col-md-8 mx-auto" data-aos="fade-up" data-aos-delay="400">{data.home.newsletter_cta.content}</p>
					<a href="/newsletter">
						<button class="btn bg-pc-dark text-light rounded-pill px-4 shadow" data-aos="fade-up" data-aos-delay="600">{data.home.newsletter_cta.button}</button>
					</a>
				</div>
			</div>
		</div><!--end container -->
</Layout>

<script>
	// https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play
	// astro reinit script in SPA mode w/ astro:page-load => didn't work

	let videoElem = document.getElementById("heroVideo");
	const playIcon = document.getElementById("playIcon");
	const playButton = document.getElementById("playButton");

	let videoLoaded = false;

	function sayHello() {
		var video = document.getElementById('heroVideo');
		var source = document.getElementById('videoSource');
		source.src = "/images/video/pc-hero-video-min.mp4"; // Update the video source
		video.load(); // Load the video
		video.play(); 
		videoLoaded = true;
	}

	function loadVideoOnce() {
		if (!videoLoaded) sayHello();
	}

	[videoElem, playButton].forEach(item => {
		item.addEventListener("click", loadVideoOnce, false);
		// item.addEventListener("click", detectPlay, false);
	});

	videoElem.addEventListener("playing", () => {
		playIcon.classList.remove("bi-play-circle");
		playIcon.classList.add("opacity-25", "bi-pause-circle");
		[videoElem, playButton].forEach(item => {
			item.addEventListener("click", () => { videoElem.pause()});
		})
	});
	videoElem.addEventListener("pause", () => {
		playIcon.classList.remove("opacity-25", "bi-pause-circle");
		playIcon.classList.add("bi-play-circle");
		[videoElem, playButton].forEach(item => {
			item.addEventListener("click", () => { videoElem.play()});
		})
	});

</script>

<style>
	.columns {
    column-count: 4;
    column-gap: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    writing-mode: horizontal-tb;

}
@media only screen and (min-width: 1200px) {
  .columns {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  } 
}

@media only screen and (max-width: 992px) {
  .columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  } 
}
@media only screen and (max-width: 768px) {
  .columns {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  } 
}
@media only screen and (max-width: 600px) {
  .columns {
    columns: 200px 1;
    -moz-columns: 200px 1;
    -webkit-columns: 200px 1;
  } 
}

#points .card {
	min-height: 315px;
	background: var(--bs-dark);
}

@media screen and (max-width: 768px) {
	#points .card {
	min-height: 250px;
}	
}
</style>