---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostBody from '../../components/PostComponents/PostBody.astro';

export const prerender = true;
export async function getStaticPaths() {
    const reviewsEntries = await getCollection('reviews');
    let data = await fetch("http://pftraveldev.wpengine.com/wp-json/pot/v1/airlines");
    let posts = await data.json();
    const combinedArray = reviewsEntries.concat(posts);

  return combinedArray.map(post => ({
    params: { slug: post.slug }, 
    props: { post }
  }));
}

const { post } = Astro.props;

const allPosts = await getCollection("reviews");
let filteredPosts = allPosts.filter(post => post.data.draft === false)
// const { Content } = await post.render();

// Remove space, add hyphens to titles, convert to lowerCase to be used for hyperlinks
function tableOfContents(str) {
    // Convert the string to lowercase
    let lowercaseStr = str.toLowerCase();
    // Replace spaces with hyphens
    let hyphenatedStr = lowercaseStr.replace(/ /g, '-');
    return hyphenatedStr;
}

// get read time
function wordCount(str) {
  const words = str.match(/(\w+)/g).length;
  const readMins = Math.trunc(words / 250);
  return readMins;
}

// share
// fb share btn
function fbShare() {
  const fbShare = "https://www.facebook.com/sharer/sharer.php?u=";
  const url = `https://princecollection.com${Astro.url.pathname}`;
  const shareButton = fbShare + url;
  return shareButton;
}

// twitter/X share btn
function tweetCurrentPage(title) {
  const twShare = "https://twitter.com/share?url=";
  const url = encodeURIComponent(`https://princecollection.com${Astro.url.pathname}`);
  const twShareButton = twShare + url + '&text=' + title;
  return twShareButton;
}

// email page
function emailPage(title) {
  const href = "mailto:?";
  const url = encodeURIComponent(Astro.url.pathname);
  const emailShare = href + 'subject=' +  title + '&body=' + 'Check out this great post I found from princeoftravel.com: ' + url;
  return emailShare;
}
const url = encodeURIComponent(Astro.url.pathname);

const { index } = Astro.props
const slideAnim = {
  old: {
    name: 'slideDown',
    duration: '0.7s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'slideUp',
    duration: '0.7s',
    delay: `${index * 0.2 + 0.1}s`,
    easing: 'ease-in-out',
    fillMode: 'backwards',
  },
}
const verticalSlide = {
  forwards: slideAnim,
  backwards: slideAnim,
}

// reduce length of post description to closest full word
function shorten(text, max) {
  return text && text.length > max ? text.slice(0, max).split(' ').slice(0, -1).join(' ') : text
}
---

<Layout title={post.title?.rendered || post.data.title} description={post.excerpt?.rendered || post.data.description} image={post.data?.imageUrl || post._embedded['wp:featuredmedia'][0]?.source_url}>

    <PostBody
    category="reviews"
    title={post.title?.rendered || post.data.title}
    backToUrl="reviews"
    backToText="Reviews"
    author={post._embedded?.author[0].name || post.data.author}
    date={post.date?.toString().slice(0,10) || post.data.pubDate.toString().slice(0,10)}
    description={post.excerpt?.rendered || post.data?.description}
    content={wordCount(post.content?.rendered || post.body)} 
    slider={post.data?.carousel == undefined || post.data?.carousel == '' }
    featuredImage={post.data?.imageUrl || post._embedded['wp:featuredmedia'][0].source_url}
    carouselImages={post.data?.carousel}
    tags={post.data?.tags}
    toc={post.data?.contents}
    postContent={post.content?.rendered}
    postBody={post.body}
    fbShare={fbShare()}
    tweetCurrentPage={tweetCurrentPage(post.title?.rendered || post.title)}
    emailPage={emailPage(post.title?.rendered || post.title)}
    />

          

    
    <!--<div class="container w-100 mx-auto">
        <div id="content" class="row p-4">
       
            <div class="d-none d-xl-flex flex-column col-lg-2 col-lg-3 pt-5">
                <div class="d-flex justify-content center-align-items-center">
                     
                 
                    
                    {
                        post.data?.tags &&
                        post.data.tags.map((tag) =>(
                        <span class="badge bg-pc-10 text-pc-dark me-1 mb-2">#{tag}</span>
                        ))
                    }
                </div>
                <p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {post._embedded?.author[0].name || post.data.author}</p>
                <p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {post.date?.toString().slice(0,10) || post.data.pubDate.toString().slice(0,10)}</p>
                <p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Read time </span>  {wordCount(post.content?.rendered || post.body)} mins</p>
                <hr>
                <p><span class="fw-bold text-pc-dark">Prince Collection</span> is a non-traditional, full service travel concierge designed exclusively for companies and individuals who require exclusive travel arrangements. We handle the nuances of travel ensuring a seamless and extraordinary journey from start to finish.</p>
                <hr>
                <div>
                    <h4 class="fs-5 fw-bold text-pc-dark">Newsletter</h4>
                    <p>Join the Prince Collection newsletter to get weekly updates delivered straight to your inbox.</p>
                    <div class="klaviyo-form-UGQNyX"></div>
                </div>
                <hr>
                <div>
                    <h4 class="fs-5 fw-bold text-pc-dark">Book your travel</h4>
                    <p>Let Prince Collection’s Travel Concierge handle your exclusive travel arrangements. Get started by filling out some basic info about your trip.</p>
                    <a href="/book">
                        <button class="btn btn-pc">Book now</button>
                    </a>
                </div>
                <hr>
                <h2 class="text-secondary mb-3">More posts</h2>

            </div>
            <div class="content-body col-lg-12 col-xl-9 p-4 p-lg-5">
                { post.data?.contents &&
                <details class="bg-body-secondary p-3 mb-4 rounded-3" style="transition: all .3s ease-in-out;">
                    <summary class="fs-5 fw-bold text-black-50">What's in this post</summary>
                    <div class="px-3 py-2">
                        {post.data.contents.map((item) => (
                        <a href={'#' +  tableOfContents(item)}>
                            <p class="my-2" style="font-size: 17px"><i class="bi bi-diamond text-secondary fw-bold me-1"></i> {item}</p>
                        </a>
                        ))}
                    </div>
                </details>
                }
           
               {post.content?.rendered ?
                <Fragment set:html={post.content.rendered} /> 
                :
                <Markdown of={post.body} />
                }
         
                <div class="d-flex border-top py-3 mt-4">
                    <h6 class="ms-2 my-0 text-black-50 fw-bold">Share this post</h6>
                </div>
                <div class="d-flex">
                <a href={fbShare()} target="_blank">
                    <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-facebook fs-5"></i>
                  </button>
                </a>
                <a href={tweetCurrentPage(post.title)} target="_blank">
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-twitter-x fs-5"></i>
                  </button>
                </a>
                <a href={emailPage(post.title)}>
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-envelope fs-5"></i>
                  </button>
                </a>
                <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;" type="button" id="liveToastBtn">
                    <i class="bi bi-link-45deg fs-5"></i>
                </button>
                <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
                    <div id="liveToast" class="toast text-bg-light border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
                        <div class="toast-body p-2 d-flex align-items-center text-secondary">
                            <i class="bi bi-check-circle-fill text-success fs-5"></i> <p class="ms-2 my-0">Copied to clipboard!</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 d-block d-xl-none border-top p-4">
                <div class="py-2">
                <p><span class="fw-bold text-pc-dark">Prince Collection</span> is a non-traditional, full service travel concierge designed exclusively for companies and individuals who require exclusive travel arrangements. We handle the nuances of travel ensuring a seamless and extraordinary journey from start to finish.</p>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-pc-dark">Newsletter</h4>
                    <p>Join the Prince Collection newsletter to get weekly updates delivered straight to your inbox.</p>
                    <div class="klaviyo-form-UGQNyX"></div>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-pc-dark">Book your travel</h4>
                    <p>Let Prince Collection’s Travel Concierge handle your exclusive travel arrangements. Get started by filling out some basic info about your trip.</p>
                    <a href="/book">
                        <button class="btn btn-pc">Book now</button>
                    </a>
                </div>
                <hr>

            </div>
        </div>
    </div>-->
</Layout>

<script>
// var targetParagraph = document.querySelector('#content .content-body p:nth-of-type(3)');
// var dynamicContent = '<div id="custom-div" class="bg-primary text-light">Nostrud elit qui amet nisi nulla ea ullamco. Nulla aliqua aute et deserunt mollit et deserunt dolor duis Lorem nulla aliquip. Veniam sit voluptate velit quis dolor pariatur anim culpa reprehenderit irure qui sint. Veniam qui sunt proident velit incididunt tempor Lorem in sit laborum officia exercitation culpa dolor.</div>';
// targetParagraph.insertAdjacentHTML('afterend', dynamicContent);

    const toastTrigger = document.getElementById('liveToastBtn');
    const toastLiveExample = document.getElementById('liveToast');
        if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)
            toast.show();
            navigator.clipboard.writeText("https://princecollection.com" + window.location.pathname);
        })
    }
  </script>