---
// import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// import { Markdown } from '@astropub/md';

// if there is no .md/collection content, do not use the combinedArray, will throw build errors
export const prerender = true;
export async function getStaticPaths() {
    // const newsEntries = await getCollection('points-programs');
    let data = await fetch("https://pftraveldev.wpengine.com/wp-json/pot/v1/points?per_page=100");
    let posts = await data.json();
    // const combinedArray = dealsEntries.concat(posts);

//   return combinedArray.map(post => ({
  return posts.map(post => ({
    params: { slug: post.slug }, 
    props: { post }
  }));
}
const { post } = Astro.props;

// const allPosts = await getCollection("news");
// let filteredPosts = allPosts.filter(post => post.data.draft === false)
// const { Content } = await post.render();

// Remove space, add hyphens to titles, convert to lowerCase to be used for hyperlinks
function tableOfContents(str) {
    // Convert the string to lowercase
    let lowercaseStr = str.toLowerCase();
    // Replace spaces with hyphens
    let hyphenatedStr = lowercaseStr.replace(/ /g, '-');
    return hyphenatedStr;
}

// get read time
function wordCount(str) {
  const words = str.match(/(\w+)/g).length;
  const readMins = Math.trunc(words / 250);
  return readMins;
}

// share
// fb share btn
function fbShare() {
  const fbShare = "https://www.facebook.com/sharer/sharer.php?u=";
  const url = `https://princeoftravel.com${Astro.url.pathname}`;
  const shareButton = fbShare + url;
  return shareButton;
}

// twitter/X share btn
function tweetCurrentPage(title) {
  const twShare = "https://twitter.com/share?url=";
  const url = encodeURIComponent(`https://princeoftravel.com${Astro.url.pathname}`);
  const twShareButton = twShare + url + '&text=' + title;
  return twShareButton;
}

// email page
function emailPage(title) {
  const href = "mailto:?";
  const url = encodeURIComponent(Astro.url.pathname);
  const emailShare = href + 'subject=' +  title + '&body=' + 'Check out this great post I found from princeoftravel.com: ' + url;
  return emailShare;
}
const url = encodeURIComponent(Astro.url.pathname);

const { index } = Astro.props
const slideAnim = {
  old: {
    name: 'slideDown',
    duration: '0.7s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'slideUp',
    duration: '0.7s',
    delay: `${index * 0.2 + 0.1}s`,
    easing: 'ease-in-out',
    fillMode: 'backwards',
  },
}
const verticalSlide = {
  forwards: slideAnim,
  backwards: slideAnim,
}

// reduce length of post description to closest full word
function shorten(text, max) {
  return text && text.length > max ? text.slice(0, max).split(' ').slice(0, -1).join(' ') : text
}
---

<Layout title="" description="" image="">
    <div class="container-fluid px-0 pt-3">
        <div class="row py-3 position-relative">
            <div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center p-5">
                <a href="/points-programs">
                    <div class="d-flex align-items-center aos-init aos-animate position-absolute start-0 top-25 ms-4" data-aos="fade-up">
                        <i class="bi bi-arrow-left text-black-50 fs-1"></i>
                        <h6 class="ms-2 my-0 text-black-50 fw-light">Back</h6>
                    </div>
                </a>
                <img class="h-auto mx-0 rounded-4 p-4 mb-3" style="width: 200px; background: #eee" src="" data-src={post.featured_image.large || post.data?.imageUrl} alt="" />
                <h5>{post.custom_fields.subtitle}</h5>
                <h1 class="fw-bold text-body-secondary lh-2 ls-1 mb-0 mt-2" style="font-size: 10vmin;">
                    <Fragment set:html={post.custom_fields.p_title_h4} />
                </h1>
                <div class="fs-4 text-body-secondary" data-aos="fade-up" data-aos-delay="400">
                    <Fragment class="my-0" set:html={post.custom_fields.short_description} />
                </div>
    
                <div data-aos="fade-up" data-aos-delay="600">
                    <p class="small text-body-secondary text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Updated on:</span> {post.date?.toString().slice(0,10) || post.data?.pubDate.toString().slice(0,10)}</p>
                </div>
            </div>

            <div class="col-lg-10 offset-lg-1 d-flex flex-column justify-content-center align-items-center px-5">
              <div class="row">
                <div class="col-lg-6 mb-2">
                  <div class="p-4 rounded-4 text-black-50" style="min-height: 300px; background: #eee;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                      <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
                      <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <h3 class="fw-bold my-3">{post.custom_fields.point_benefits_0_b_title}</h3>
                    <p class="fs-5 m-0"><Fragment set:html={post.custom_fields.point_benefits_0_b_content.replace(/\r\n/g, '.<br>') + '.'} /></p>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="p-4 rounded-4 text-black-50" style="min-height: 300px; background: #eee;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
                      <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
                      <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
                      <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
                    </svg>
                    <h3 class="fw-bold my-3">{post.custom_fields.point_benefits_1_b_title}</h3>
                    <p class="fs-5 m-0"><Fragment set:html={post.custom_fields.point_benefits_1_b_content.replace(/\r\n/g, '.<br>') + '.'} /></p>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row" id="content">
          <div class="content-body col-lg-8 offset-lg-2">
            <hr class="mx-auto my-4">
            <p class="fs-5 fst-italic text-black-50"><Fragment set:html={post.custom_fields.point_content_0_c_content} /></p>
            <hr class="mx-auto my-4">
            <h2>{post.custom_fields.point_content_1_c_title}</h2>
            <p><Fragment set:html={post.custom_fields.point_content_1_c_content} /></p>
            <h2>{post.custom_fields.point_content_2_c_title}</h2>
            <p><Fragment set:html={post.custom_fields.point_content_2_c_content} /></p>
            <h2>{post.custom_fields.point_content_3_c_title}</h2>
            <p><Fragment set:html={post.custom_fields.point_content_3_c_content} /></p>
            <h2>{post.custom_fields.point_content_4_c_title}</h2>
            <p><Fragment set:html={post.custom_fields.point_content_4_c_content} /></p>
            <h2>{post.custom_fields.point_content_5_c_title}</h2>
            <p><Fragment set:html={post.custom_fields.point_content_5_c_content} /></p>
          </div>
        </div>
    </div>
    
    <!--body/sidebar-->
    <div class="container w-100 mx-auto">
        <div class="row p-4">
            <div class="content-body col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 px-4 py-5">
                <div class=""><Fragment set:html={post.content} /></div>
                <!-- <Markdown of={post.body} /> -->
            
                <!-- share -->
                <div class="d-flex border-top py-3 mt-4">
                    <h6 class="ms-2 my-0 text-black-50 fw-bold">Share this post</h6>
                </div>
                <div class="d-flex">
                <a href={fbShare()} target="_blank">
                    <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-facebook fs-5"></i>
                  </button>
                </a>
                <a href={tweetCurrentPage(post.title?.rendered || post.title)} target="_blank">
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-twitter-x fs-5"></i>
                  </button>
                </a>
                <a href={emailPage(post.title?.rendered || post.title)}>
                  <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;">
                    <i class="bi bi-envelope fs-5"></i>
                  </button>
                </a>
                <button class="btn btn-light text-black-50 px-3 py-2 fw-900 fs-5 me-2" style="background: #d6d6d680;" type="button" id="liveToastBtn">
                    <i class="bi bi-link-45deg fs-5"></i>
                </button>
                <div class="toast-container position-fixed top-50 start-50 translate-middle p-3">
                    <div id="liveToast" class="toast text-bg-light border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
                        <div class="toast-body p-2 d-flex align-items-center text-secondary">
                            <i class="bi bi-check-circle-fill text-success fs-5"></i> <p class="ms-2 my-0">Copied to clipboard!</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 d-block d-xl-none border-top p-4">
                <div class="py-2">
                <p><span class="fw-bold text-body-secondary">Prince of Travel</span> is a non-traditional, full service travel concierge designed exclusively for companies and individuals who require exclusive travel arrangements. We handle the nuances of travel ensuring a seamless and extraordinary journey from start to finish.</p>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-body-secondary">Newsletter</h4>
                    <p>Join the Prince Collection newsletter to get weekly updates delivered straight to your inbox.</p>
                    <div class="klaviyo-form-UGQNyX"></div>
                </div>
                <hr>
                <div class="py-2">
                    <h4 class="fs-5 fw-bold text-body-secondary">Book your travel</h4>
                    <p>Let Prince Collection’s Travel Concierge handle your exclusive travel arrangements. Get started by filling out some basic info about your trip.</p>
                    <a href="/book">
                        <button class="btn btn-pc">Book now</button>
                    </a>
                </div>
                <hr>
    
            </div>
        </div>
    </div>
</Layout>

<script>
// var targetParagraph = document.querySelector('#content .content-body p:nth-of-type(3)');
// var dynamicContent = '<div id="custom-div" class="bg-primary text-light">Nostrud elit qui amet nisi nulla ea ullamco. Nulla aliqua aute et deserunt mollit et deserunt dolor duis Lorem nulla aliquip. Veniam sit voluptate velit quis dolor pariatur anim culpa reprehenderit irure qui sint. Veniam qui sunt proident velit incididunt tempor Lorem in sit laborum officia exercitation culpa dolor.</div>';
// targetParagraph.insertAdjacentHTML('afterend', dynamicContent);

    const toastTrigger = document.getElementById('liveToastBtn');
    const toastLiveExample = document.getElementById('liveToast');
        if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            const toast = new bootstrap.Toast(toastLiveExample)
            toast.show();
            navigator.clipboard.writeText("https://princeoftravel.com" + window.location.pathname);
        })
    }
  </script>